*{
    margin: auto;
}

.cabecalhohome{
    background-color: #04C9F4;
    color: #fff;
    padding-left: 10px;
    height: 40px;
    margin-left: 182px ;
    display: flex;
    align-items: center;
}

html, body{
    height: 100%;
    background-color: #e7e7e7;
}

.menu{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #d9d9d9;
    float: left;
    height: 91.5vh;
    width: 182px;
    box-shadow: 0px 4px 4px 0px #00000040;
    

}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 180px;
    height: 29px;
    top: 2px;
    border-bottom: solid #fff 1px;
    list-style: none;
    cursor: pointer;
    
    margin: 0px
}

.itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 180px;
    height: 29px;
    top: 2px;
    border-bottom: solid #fff 1px;
    list-style: none;
    cursor: pointer;
    background-color: #04C9F4;
    margin: 0px
}

li, a{
    text-decoration: none;
    color: #fff;
    margin: 0px

}

a:hover{
    color: #000;

}

section{
    margin-left: 40%;
    margin-top: 35px;
}

footer{
    background-color: #fff;
    color: #04C9F4;
    height: 40px;
    margin-top: 61px ;
    display: flex;
    justify-content: center;
    align-items: center;
}