*{
    margin: auto;

}
body{
    background-color: #e7e7e7;
}

#cabecalho{
    background-color: #fff;
    color:#04C9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

#container{
    background-color: #d9d9d9;
    width: 394px;
    height: 335px;
    margin-top: 20vh;
    box-shadow: 2px 4px #c8c8c8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    


}

.container{
    width: 153px;
    height: 115px;

}

.item{
    width: 330px;
    height: 46px;
    border: 1px solid #fff

}

button{
    width: 160px;
    height: 44px;
    background-color: #04C9F4;
    border: 1px solid #04C9F4

}

a{
    color: #fff;
    text-decoration: none;
}